// Define global variables to be used to make our life easier
$color-normal: #221f1f;
$link-normal: #cf5500;
$link-hover: #823500;
$link-active: #823500;
$experimental-support-for-svg: true;
$icon-font-path: "../fonts/";